.container {
  padding: 2px 16px;
  cursor: pointer;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 16px;
  margin-right: 30px;
}

.small {
  height: 350px;
}

.large {
  height: 430px;
}

.address {
  font-size: 12px;
  position: absolute;
  top: 24px;
  left: 2px;
  z-index: 9999;
  padding: 4px 2px;
  width: 6.5rem;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 50%;
  padding: 4px;
  width: 188px;
  height: 122px;
  border-radius: 12px;
  cursor: pointer;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  color: #7c7a7a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-weight: 500;
  font-size: 16px;
}

.menus {
  font-weight: 600;
}

.submenus {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
