.menus {
  font-weight: 600;
}

.submenus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.counter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cancel {
  padding: 2px 4px;
  border: 1px solid red;
  border-radius: 8px;
  color: red;
}

.but1 {
  padding: 2px 10px;
  border: 1px solid gold;
  border-radius: 8px;
  color: gold;
}

.but2 {
  padding: 2px 10px;
  border: 1px solid limegreen;
  border-radius: 8px;
  color: limegreen;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.total {
  font-weight: 600;
}
