.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.root > p {
  margin: 15px 0;
  text-align: center;
  font-size: 1.5rem;
}

.name {
  color: #fc2c2c;
}

.root > button {
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  transition: opacity 1s;
  width: 200px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  color: #000000;
}

.root > button:hover {
  background-color: #fafafa;
}
